.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.buttons {
  width: auto;
  margin: 0 auto;
  display: inline;
}
  
.action_btn {
  margin: 10px;
  display: inline;
}